div {
    border-radius: 5px;
}
#one {
    margin-left: 50px;
    height: 2000px;
    width: 150px;
    background-color: #706eff;
    border: 4px dashed red;
}
#two {
    position:fixed;
    top: 250px;
    left: 50px;
    height: 75px;
    width: 75px;
    background-color: #ff4468;
    border: 1px solid black

}