h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-variant-numeric: oldstyle-nums;
    text-transform: uppercase;
    line-height: 2;
}
div {

    width:600px;
    height: 400px;
    /*line-height: 200px;*/
    text-align: center;
    border: 1px solid red;
}
p {
    font-family: 'Cantarell', sans-serif;
font-size: 10rem;
    text-shadow: 10px 10px 25px black;
    text-align: center;
text-decoration: line-through underline overline red;

}